.idea/copyright
.idea/.name
.idea/replstate.xml
.idea/workspace.iml
resources/public/js/compiled/
*/.DS_Store
.DS_Store
figwheel_server.log
pom.xml
*jar
*.psd
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.sass-cache/
node_modules/

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml

bower_components
resources/docs/eganimation_narrated\ v2.pptx
resources/docs/animation/private
resources/public/css/app.*
*~
.#*
~*
.idea/inspectionProfiles/
tmp/
resources/public/faq*
resources/public/home*
resources/public/index*
resources/public/intro*
/resources/public/js/main-test.js
/resources/public/js/
