/* css-modules-tester CSS */
.text {
  color: brown;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}

@keyframes bounce {
  33% {transform: translateY(-20px);}
  66% {transform: translateY(0px);}
}